<form class="form" (submit)="addAccount(name, deposit)">
  <h2>Create a new account</h2>
  <section class="form-elements">
    <label class="form-element" for="name-input">Account holder name:</label>
    <input class="form-element" type="text" id="name-input" name="name" required [(ngModel)]="name">
    <label class="form-element" for="deposit-input">Deposit amount:</label>
    <input class="form-element" type="number" id="deposit-input" name="deposit" required min="0" [(ngModel)]="deposit">
    <button class="form__button" type="submit">Create account</button>
  </section>
</form>

<form class="form" (submit)="transferMoney(fromId, toId)">
  <h2>Transfer money</h2>
  <section class="form-elements">
    <label class="form-element" for="from-id-input">From account:</label>
    <input class="form-element" type="number" id="from-id-input" name="fromId" [(ngModel)]="fromId" min="1">
    <label class="form-element" for="to-id-input">To account:</label>
    <input class="form-element" type="number" id="to-id-input" name="toId" [(ngModel)]="toId" min="1">
    <label class="form-element" for="transfered-balance">Amount:</label>
    <input class="form-element" type="number" id="transfered-balance" name="transfer" [(ngModel)]="transferedBalance">
    <button class="form__button" type="submit">Transfer Balance</button>
  </section>
</form>

<h3 class="error">{{errorMessage}}</h3>

<h2>Accounts</h2>
<table class="table">
  <tr>
    <th class="table__th">ID</th>
    <th class="table__th">Account Holder Name</th>
    <th class="table__th">Balance</th>
    <th class="table__th">Delete</th>
  </tr>
  <tr *ngFor="let account of accounts">
    <td class="table__td">{{ account.id }}</td>
    <td class="table__td">{{ account.name }}</td>
    <td class="table__td">{{ account.balance | currency:'USD':'symbol':'1.2-2' }}</td>
    <td class="table__td"><button class="table__button" (click)="deleteAccount(account.id)">Delete</button></td>
  </tr>
</table>